[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; background-color: #fff; }
body, button, input { font-family: "Lucida Sans", "Droid Sans", sans-serif; color: #222; }
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
ul { margin: 0; padding:0; }
button, input { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; line-height: normal; *overflow: visible;  }
.h {
    overflow: visible;
    background: #d6f0f3;
    border-bottom: solid 8px #636566;
}
#links {
    float:right;
    height:35px;
    line-height:35px;
    margin-right:5px;
}
.logo {
    background: no-repeat url(colorstash_pdn.png);
    position:absolute;
    height: 70px;
    width: 70px;
    top:-8px; 
    left: 0;
    z-index: 10;
}
h1 { 
    margin:0; 
    padding:0;
    padding-left: 70px;
    font-family: 'Rochester', cursive;
    float:left;
}

#sub {
    background: #292c2d;
    position:relative;
    overflow:hidden;
    margin-bottom: 10px;
    height:40px;
} 
#sub a {
    color: white;
}
#pa { position:absolute; left:0; top: 0; padding-top:15px; z-index: 0; height:26px; overflow: hidden;  }
#sub ul { width: 100%; }
#sub li {  
    display:inline-block; 
    width: 33px; 
    height: 40px; 
    margin: 3px;
    cursor: pointer; 
    border-radius: 3px; 
    position:relative;
    top:0;
    -webkit-transition: top .1s linear; 
}
#sub li:hover, #sub li.active { top: -10px; margin:1px; padding: 2px; -webkit-box-shadow: 0 0 6px orange;}
#cs { 
	margin: 0 auto;
	width: 95%;
}
.in {
    padding: 0 15px;
    position:relative;
}
#files {
    position:absolute;top:0;left:0;bottom:0;right:0;
    display:none;
    background-color:white;
    border:solid 10px;
}

#files span { position:absolute; top:10px; right: 10px; background:#333; border-radius: 30px; width:30px; height:30px; }
#share { float: right; padding-left: 50px; margin: 10px 0; margin-right: 15px; position: relative; z-index:1; }
#share input { width: 210px; padding: 3px; font-size: 11px; color: #888; border: solid 2px; }
#share div:before {
    content: "share ↪";
    -webkit-transform:rotate(10deg);
    font-family: Georgia;
    letter-spacing: .1em;
    display:block;
    position: absolute;
    left:0;
    top:-2px;
    color: #333;
}
#manage { display:none; }
#current {
    font-size:24px;
    background: rgba(255, 255, 255, .9);
    border: solid 2px rgba(0, 0, 0, .2);
    text-align: center;
    width: 95%;
    margin:0 auto;
    display:block;
}
#preview {
    padding:10px 20px;
    border: solid 2px #333;
}

/* ns: no local storage available */
.ns #pa, .ns #preview a { display:none; }

#rm, #rl, #preview.has #add { display:none; }
#preview.has #rm, #preview.fromScheme #rl { display:inline; }
#preview div { padding-top: 30px; text-align: right; }
#preview a { color: #ddf; }
#preview.contrast a { color: #003; }


.picker, .schemer, .colorer {
	float:left;
	width: 33.33%;
	margin-bottom: 10px;
}

/* Conversions */
#conv {
    margin-left: 40px;
    margin-top: 20px;
    padding:10px;
}
#conv input {
    font-size: 18px; 
    padding: 5px;
    width: 95%;
    background-color: rgba(255, 255, 255, .6);
}
#conv div { margin:5px 0; position:relative;}

#conv div:before, .schemer ul:before {
    -webkit-transform:rotate(20deg);
    display:block;
    position: absolute;
    font-family: Georgia;
    font-weight: bold;
    left:-40px;
    top:-4px;
}
.schemer .in div {position: relative;}
.schemer ul:before { text-align: right; width: 140px; left: 0; top: -10px;}
#hex:before { content: "hex →"; }
#hsv:before { content: "hsv →"; }
#rgb:before { content: "rgb →"; }
#hsl:before { content: "hsl →"; }
#mono:before { content: "monochromatic →"; }
#an:before { content: "analogous →"; }
#sc:before { content: "split complements →"; }
#tetrad:before { content: "tetrad →"; }

/* Make the colorpicker scale to fit */
body .sp-container { width: 100%; }
#preview { border-radius: 5px; }
#preview, .schemer li { 
    -webkit-transition: background-color .1s linear; -moz-transition: background-color .1s linear; 
}

.schemer.vhide ul { display:none; }
.schemer ul { list-style-type: none; margin:0; padding:0; float:left; width:25%; }
.schemer li { 
    height: 40px; 
    width: 14%;
    margin: 4px;
}

.schemer li:hover, .schemer li.active { outline: solid orange 2px; }

/* Picker and generated values next to each other, schemes at bottom */
@media (max-width: 1200px) {
    .schemer {
        float:none;
        clear: both;
        width:auto;
        padding-top: 30px;
    }
    .schemer ul {
        float:none;
        width: auto;
        margin: 10px 0;
        margin-left: 140px;
    }
    .schemer li {  float:left;  }
    .picker { width: 33%; }
    .colorer { width: 67%; }
}

/* Really small - put everything in line */
@media (max-width: 745px), (max-device-width: 480px) {
    .schemer, .picker, .colorer {
        float:none;
        width:100%;
        margin: 10px 0;
    }
    .schemer .in div {
        float:none; display:inline-block; width: 22%;
        margin: 10px 0; 
    }
    #share { float:right; }
    #share div:after { display:none;}
    .schemer li { float:none; width: 90%; }
     .schemer ul:before {
        -webkit-transform:rotate(90deg);
        top:0;left:-50%;
    }
    .schemer { margin-top: 40px; text-align: center; }
    .schemer ul { margin-left:0; margin-top:80px;}
    .picker {
        max-width: 325px;
        margin: 0 auto;
    }
}

@media (min-width: 1300px) { }

.vhide { visibility: hidden; }
.hide { display: none; }
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }


.sp-container{position:absolute;top:0;left:0;display:inline-block}.sp-color{position:relative}.sp-saturation,.sp-value{position:absolute;top:0;left:0;right:0;bottom:0}.sp-replacer,.sp-preview,.sp-drag-helper,.sp-slide-helper,.sp-container.sp-dragging .sp-input,.sp-container button{-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none}.sp-replacer{display:inline-block;margin:0;border-radius:5px;overflow:hidden;cursor:pointer;padding:4px}.sp-dd{padding:2px 0;height:16px;line-height:16px;float:left;font-size:10px}.sp-preview{width:25px;height:20px;border:solid 1px #ddd;margin-right:5px;float:left}.sp-show-small,.sp-small .sp-hide-small{display:none}.sp-small .sp-show-small{display:inherit}.sp-container.sp-input-disabled .sp-input-container,.sp-container.sp-flat .sp-input-container div{display:none}.sp-input-container{margin-top:4px}.sp-input-container div{float:right}.sp-input:focus{border:1px solid orange}.sp-container.sp-flat .sp-input{width:100%;padding:0;text-align:center}.sp-pallet-container{margin:3px 0;padding:0}.sp-pallet-container span{display:block;float:left;width:30px;height:15px;margin:3px;cursor:pointer;border:solid 2px transparent}.sp-pallet-container span:hover,.sp-pallet-container span.sp-pallet-active{border-color:orange}.sp-pallet-disabled .sp-pallet-container{display:none}.sp-saturation{background-image:-webkit-gradient(linear,0 0,100% 0,from(#FFF),to(rgba(204,154,129,0)));background-image:-webkit-linear-gradient(left,#FFF,rgba(204,154,129,0));background-image:-moz-linear-gradient(left,#fff,rgba(204,154,129,0));background-image:-o-linear-gradient(left,#fff,rgba(204,154,129,0));-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr=#FFFFFFFF, endColorstr=#00CC9A81)";filter:progid:DXImageTransform.Microsoft.gradient(GradientType = 1,startColorstr='#FFFFFFFF',endColorstr='#00CC9A81')}.sp-value{background-image:-webkit-gradient(linear,0 100%,0 0,from(#000),to(rgba(204,154,129,0)));background-image:-webkit-linear-gradient(bottom,#000,rgba(204,154,129,0));background-image:-moz-linear-gradient(bottom,#000,rgba(204,154,129,0));background-image:-o-linear-gradient(bottom,#000,rgba(204,154,129,0));-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00CC9A81, endColorstr=#FF000000)";filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC9A81',endColorstr='#FF000000')}.sp-drag-helper{position:absolute;top:0;left:0}.sp-container.sp-flat{position:relative;display:inline-block}.sp-slide{position:relative;float:left;background:-webkit-gradient(linear,left top,left bottom,from(#f00),color-stop(.12,#ff0),color-stop(.25,#0bed00),color-stop(.37,#00ff40),color-stop(.50,#0ff),color-stop(.62,#0040ff),color-stop(.75,#8000ff),color-stop(.87,#f0f),to(#f00));background:-webkit-linear-gradient(top,#f00 0,#ff0 12%,#0bed00 25%,#00ff40 37%,#0ff 50%,#0040ff 62%,#8000ff 75%,#f0f 87%,#f00 100%);background:-moz-linear-gradient(top,#f00 0,#ff0 12%,#0bed00 25%,#00ff40 37%,#0ff 50%,#0040ff 62%,#8000ff 75%,#f0f 87%,#f00 100%);background:-o-linear-gradient(top,#f00 0,#ff0 12%,#0bed00 25%,#00ff40 37%,#0ff 50%,#0040ff 62%,#8000ff 75%,#f0f 87%,#f00 100%)}.sp-ie-1{height:12%;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000',endColorstr='#FFFF00')}.sp-ie-2{height:13%;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF00',endColorstr='#0BED00')}.sp-ie-3{height:12%;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0BED00',endColorstr='#00FF40')}.sp-ie-4{height:13%;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FF40',endColorstr='#00FFFF')}.sp-ie-5{height:12%;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFF',endColorstr='#0040ff')}.sp-ie-6{height:13%;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0040ff',endColorstr='#8000ff')}.sp-ie-7{height:12%;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8000ff',endColorstr='#ff00ff')}.sp-ie-8{height:13%;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff',endColorstr='#ff0000')}.sp-slide-helper{position:absolute;top:0;cursor:pointer}.sp-cf:before,.sp-cf:after{content:"";display:table}.sp-cf:after{clear:both}.sp-cf{*zoom:1}.sp-top{position:relative;width:100%;display:inline-block}.sp-top-inner{position:absolute;top:0;left:0;bottom:0;right:0}.sp-color{position:absolute;top:0;left:0;bottom:0;right:20%}.sp-slide{position:absolute;top:0;right:0;bottom:0;left:83%}.sp-fill{*height:80%;margin-top:80%}@media(max-device-width:480px){.sp-color{right:40%}.sp-slide{left:63%}.sp-fill{margin-top:60%}}.sp-drag-helper{border-radius:5px;height:5px;width:5px;border:solid black 3px;pointer:cursor}.sp-slide-helper{height:5px;width:110%;margin-left:-5%;background:white;opacity:.8}.sp-input{height:20px;font-size:16px;border:1px inset;padding:1px 5px;margin:0;width:120px;margin-top:1px;background:transparent;border-radius:3px}.sp-container{padding:10px;border-radius:10px;width:240px}.sp-container.sp-small{width:160px;padding:5px;border-radius:5px}.sp-small .sp-pallet-container span{width:16px}.sp-container.sp-light{background-color:#ddd;border-radius:5px;font-family:Droid Sans,Tahoma,sans-serif}.sp-container.sp-dark{background-color:#333;border-radius:5px;font-family:Droid Sans,Tahoma,sans-serif}.sp-dark .sp-input{border-color:#444;color:white}.sp-light .sp-input{border-color:#aaa;color:#222}.sp-replacer.sp-dark{border:outset 2px #666;background:#333;color:#eee}.sp-replacer.sp-dark:hover,.sp-replacer.sp-dark.sp-active{border-color:#333;border-style:solid;color:#ccf}.sp-replacer.sp-light{background:#eee;border:solid 2px #444;color:#333}.sp-replacer.sp-light:hover,.sp-replacer.sp-light.sp-active{border-color:#333;color:#111}.sp-container button{background-color:#eee;background-image:-webkit-gradient(linear,left top,left bottom,from(#eee),to(#ccc));background-image:-webkit-linear-gradient(top,#eee,#ccc);background-image:-moz-linear-gradient(top,#eee,#ccc);background-image:-ms-linear-gradient(top,#eee,#ccc);background-image:-o-linear-gradient(top,#eee,#ccc);background-image:linear-gradient(top,#eee,#ccc);border:1px solid #ccc;border-bottom:1px solid #bbb;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;color:#333;font:normal 11px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;line-height:1;padding:4px 1px;text-align:center;text-shadow:0 1px 0 #eee;vertical-align:middle}.sp-container button:hover{background-color:#ddd;background-image:-webkit-gradient(linear,left top,left bottom,from(#ddd),to(#bbb));background-image:-webkit-linear-gradient(top,#ddd,#bbb);background-image:-moz-linear-gradient(top,#ddd,#bbb);background-image:-ms-linear-gradient(top,#ddd,#bbb);background-image:-o-linear-gradient(top,#ddd,#bbb);background-image:linear-gradient(top,#ddd,#bbb);border:1px solid #bbb;border-bottom:1px solid #999;cursor:pointer;text-shadow:0 1px 0 #ddd}.sp-container button:active{border:1px solid #aaa;border-bottom:1px solid #888;-webkit-box-shadow:inset 0 0 5px 2px #aaa,0 1px 0 0 #eee;-moz-box-shadow:inset 0 0 5px 2px #aaa,0 1px 0 0 #eee;-ms-box-shadow:inset 0 0 5px 2px #aaa,0 1px 0 0 #eee;-o-box-shadow:inset 0 0 5px 2px #aaa,0 1px 0 0 #eee;box-shadow:inset 0 0 5px 2px #aaa,0 1px 0 0 #eee}.sp-container.sp-small button{padding-left:5px;padding-right:5px;font-weight:bold}