html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; margin-bottom:20px; font-family: Georgia;  }
button, input { font-family: "Lucida Sans", sans-serif; color: #222;  }
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
ul { margin: 0; padding:0; }
button, input { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; line-height: normal; *overflow: visible;  }

.head {
    overflow: visible;
    background: #d6f0f3;
    border-bottom: solid 8px #636566;
}
#links {
    float:right;
    height:35px;
    line-height:35px;
    margin-right:5px;
}
#logo {
    position:absolute;
    height:40px;
    width: 65px;
    top:8px; 
    left: 3px;
    /*background: -webkit-linear-gradient(top left, #FF0000 0%, #FFFF00 12%, #0BED00 25%, #00FF40 37%, #00FFFF 50%, #0040ff 62%, #8000ff 75%, #ff00ff 87%, #ff0000 100%);
    background: -webkit-radial-gradient(center, circle, #FF0000 0%, #FFFF00 20%, #0BED00 40%, #00FF40 50%, #00FFFF 60%, #0040ff 72%, #8000ff 75%, #ff00ff 87%, #ff0000 100%);*/
    z-index: 10;
    background: no-repeat url(colorstash.png);
}

h1 { 
    margin:0; 
    padding:4px 0 0 75px;
    color:#766453;
    font-family: fertigo-script, sans-serif;
  
    /* font-family: blambot-pro;/*, fertigo-script, cursive;*/
    float:left;
}
h1 em { color: #594c3f; font-size:1.1em; font-style: normal; font-weight: normal; }

#sub {
    background: #292c2d;
    position:relative;
    height:40px;
    overflow:hidden;
}
#pa { 
    position:absolute; 
    left:0; 
    top: 0; 
    padding-top:15px; 
    z-index: 0; 
    height:26px; 
    overflow: hidden;
}
#pa li {  
    display:inline-block; 
    width: 33px; 
    height: 40px; 
    margin: 3px;
    cursor: pointer; 
    border-radius: 3px; 
    position:relative;
    top:0;
    -webkit-transition: top .1s linear; 
    -moz-transition: top .1s linear; 
    -webkit-user-select: none;
}
#pa li:hover, #pa li.active { 
    top: -10px; 
    margin:1px; 
    padding: 2px; 
    -webkit-box-shadow: 0 0 6px orange;
    -moz-box-shadow: 0 0 6px orange;
}
#stash { 
    padding: 10px;
}
.in {
    padding: 0 15px;
    position:relative;
}
#pick .in { padding-left:0;} 

/*
#files {
    position:absolute;top:0;left:0;bottom:0;right:0;
    display:none;
    background-color:white;
    border:solid 10px;
}
#files span { position:absolute; top:10px; right: 10px; background:#333; border-radius: 30px; width:30px; height:30px; }
*/

button {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  font-weight:bold;
  font-size:12px; 
  padding: 1px 8px;
  text-align: center;
  cursor: pointer;
}
button:hover {
    background: #ddd;
    border: 1px solid #bbb;
}
button:active {
    border: 1px solid #aaa; 
    background-color: #ccc; 
}


input[readonly] { color: #666; }
h3 { text-decoration: underline; }
#share { float: right; color: #555; margin: 10px 0; margin-right: 15px; position: relative; z-index:1; }
#share input { width: 210px; padding: 3px; font-size: 11px; border: solid 2px; }
#share span {
    display:block;
    position: absolute;
    left:-85px;
    top:3px;
    
}
input { background: rgba(255, 255, 255, .9); }
#current {
    font-size:24px;
    text-align: center;
    width: 90%; margin:0 auto;
    display:block;
}
#prev {
    padding:10px 5px;
    border: solid 2px #444;
}

/* ns: no local storage available */
.ns #sub, .ns #buttons { display:none; }

/* only show proper links in preview box */
#rm, #rl, .has #add { display:none; }
.has #rm, .fromScheme #rl { display:inline; }
#buttons { padding: 6px 10px; text-align: right; background:#444; border-radius: 5px 5px 0 0; }
#conv { color: #ddf; }
.contrast #conv { color: #003; }

/* Conversions */

#conv {
    padding: 20px 50px;
    text-align: center;
}
#conv input {
    font-size: 18px; 
    padding: 5px;
    width: 90%;
}
#conv div { margin:5px 0; position:relative; }

#conv span, #scheme span {
    -webkit-transform:rotate(10deg);
    -moz-transform:rotate(10deg);
    display:block;
    position: absolute;
    font-weight: bold;
    left:-25px;
    top: 0;
}

/* Make the colorpicker scale to fit */
body .sp-container { width: 100%; }
#prev, #scheme li { 
    -webkit-transition: background-color .1s linear; -moz-transition: background-color .1s linear; 
}

#scheme .in div {position: relative; }
#scheme span { text-align: right; width: 140px; left: 0; }
#scheme.vhide ul { display:none; }
#scheme ul { list-style-type: none; margin: 9px 0 9px 140px; padding:0; }
#scheme li { 
    height: 40px; 
    width: 20%;
    margin: 4px;
    float:left; 
}
#scheme li:first-child { width: 10%;}
#scheme li:hover, #scheme li.active { 
    outline: solid orange 2px; 
}

#scheme {
    float:none;
    clear: both;
    width:auto;
    padding-top: 10px;
}

#pick, #color {
	float:left;
	width: 50%;
    margin: 10px 0;
}    
#pick { width: 40%; max-width: 355px; }
#color { width: 60%; }

/* Small - put everything in line */
@media (max-width: 600px), (max-device-width: 480px) {
    #pick, #scheme, #color {
        float:none;
        width:100%;
    }
    #scheme .in div {
        float:none; 
        display:inline-block; 
        width: 18%;
        margin: 0; 
        vertical-align: top;
    }
    #share { float:right; }
    #share span { display:none; }
    #scheme li { float:none; width: 90%; height:60px; }
    #scheme li:first-child { width: 90%; height: 25px; margin-bottom:10px;  }
    #scheme span { display:none; }
    #scheme { margin-top: 5px; padding:0; text-align: center; }
    #scheme ul { margin:0; }
    #pick {
        max-width: 355px;
        margin: 0 auto;
    }
    #pa li {  width: 50px; }
}
/* Picker and generated values next to each other, schemes at bottom */
@media (min-width: 1024px) {
    #pick, #scheme, #color {
    	float:left;
    	width: 33.33%;
        margin: 10px 0;
    }
    #pick { max-width: 650px;}
    #scheme ul { margin:0; margin-top:15px; }
    #scheme span { top: -15px; left:0; width: auto;
        -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); 
    } 
    #scheme { clear: none; padding-top:0;}
    #scheme li { width: 19%; height: 50px;}
    #conv { padding-right:10px; }
    #conv span { left: -40px;}
}

.vhide { visibility: hidden; }
.hide { display: none; }
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }




/***
Spectrum: The No Hassle Colorpicker
https://github.com/bgrins/spectrum

Author: Brian Grinstead
License: MIT
***/

.sp-container { 
    position:absolute; 
    top:0; 
    left:0; 
    display:inline-block;
}
.sp-container.sp-flat {
    position: relative;
}

/* 
   Keep square proportions using percentage widths.
   Basic aspect ratio technique modified from:
   http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio
*/
.sp-top {
  position:relative; 
  width: 100%;
  display:inline-block;
}
.sp-top-inner {
   position:absolute; top:0; left:0; bottom:0; right:0;
}
.sp-color { 
    position: absolute;
    top:0;left:0;bottom:0;right:20%;
}
.sp-hue {
    position: absolute;
    top:0;right:0;bottom:0;left:83%;
    height: 100%; /* IE7 needs this for hue slider to take up full space */
}
.sp-fill { 
    *height: 80%;
    margin-top: 80%;  /* Same as sp-color width */
}
.sp-sat, .sp-val { 
    position: absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
}

/* Don't allow text selection */
.sp-replacer, .sp-preview, .sp-dragger, .sp-slider , .sp-container.sp-dragging .sp-input, .sp-container button  { 
    -webkit-user-select:none; -moz-user-select: none; -o-user-select:none; user-select: none; 
}
.sp-container.sp-input-disabled .sp-input-container,
.sp-container.sp-flat .sp-input-container div {
    display:none;
}

/* Gradients for hue, saturation and value instead of images.  Not pretty... but it works */
.sp-sat {
    background-image: -webkit-gradient(linear,  0 0, 100% 0, from(#FFF), to(rgba(204, 154, 129, 0)));
    background-image: -webkit-linear-gradient(left, #FFF, rgba(204, 154, 129, 0));
    background-image: -moz-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    background-image: -o-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr=#FFFFFFFF, endColorstr=#00CC9A81)";
    filter : progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr='#FFFFFFFF', endColorstr='#00CC9A81');
}
.sp-val {
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000000), to(rgba(204, 154, 129, 0)));
    background-image: -webkit-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
    background-image: -moz-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
    background-image: -o-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00CC9A81, endColorstr=#FF000000)";
    filter : progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC9A81', endColorstr='#FF000000');
}
.sp-hue {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), color-stop(.12, #FFFF00), color-stop(.25, #0BED00), color-stop(.37, #00FF40), color-stop(.50, #00FFFF), color-stop(.62, #0040ff), color-stop(.75, #8000ff), color-stop(.87, #ff00ff), to(#ff0000));
    background: -webkit-linear-gradient(top, #FF0000 0%, #FFFF00 12%, #0BED00 25%, #00FF40 37%, #00FFFF 50%, #0040ff 62%, #8000ff 75%, #ff00ff 87%, #ff0000 100%);
    background: -moz-linear-gradient(top, #FF0000 0%, #FFFF00 12%, #0BED00 25%, #00FF40 37%, #00FFFF 50%, #0040ff 62%, #8000ff 75%, #ff00ff 87%, #ff0000 100%); 
    background: -o-linear-gradient(top, #FF0000 0%, #FFFF00 12%, #0BED00 25%, #00FF40 37%, #00FFFF 50%, #0040ff 62%, #8000ff 75%, #ff00ff 87%, #ff0000 100%); 
}

/* IE filters do not support multiple color stops.  
   Generate 8 divs, line them up, and do two color gradients for each.
   Yes, really.
 */
.sp-1 { 
    height:12%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#FFFF00');
}
.sp-2 { 
    height:13%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF00', endColorstr='#0BED00');
}
.sp-3 { 
    height:12%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0BED00', endColorstr='#00FF40');
}
.sp-4 { 
    height:13%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FF40', endColorstr='#00FFFF');
}
.sp-5 { 
    height:12%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFF', endColorstr='#0040ff');
}
.sp-6 { 
    height:13%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0040ff', endColorstr='#8000ff');
}
.sp-7 { 
    height:12%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8000ff', endColorstr='#ff00ff');
}
.sp-8 { 
    height:13%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff', endColorstr='#ff0000');
}

/* Clearfix hack */
.sp-cf:before, .sp-cf:after { content: ""; display: table; }
.sp-cf:after { clear: both; }
.sp-cf { *zoom: 1; }

/* Mobile devices, make hue slider bigger so it is easier to slide */
@media (max-device-width: 480px) {
    .sp-color { right: 40%; }
    .sp-hue { left: 63%; }
    .sp-fill { margin-top: 60%; } 
}

.sp-dragger {
   border-radius: 5px; 
   height:5px; 
   width: 5px; 
   border: solid black 3px;
   cursor: pointer;
   position:absolute; 
   top:0; 
   left: 0;
}
.sp-slider { 
    position: absolute; 
    top:0; 
    cursor:pointer;
    height: 5px; 
    width: 110%;
    margin-left: -5%;
    background: white; 
    opacity: .8; 
}

/* Basic display options (colors, fonts, global widths) */
.sp-container {
    padding: 10px;
    border-radius: 10px;
    width: 240px;
}
/* Dark theme */
.sp-container.sp-dark {
    background-color: #333; 
    border-radius: 5px; 
    font-family: Droid Sans, Tahoma, sans-serif;
}