html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; background-color: #fff; }
body, button, input { font-family: "Lucida Sans", sans-serif; color: #222; }
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
ul { margin: 0; padding:0; }
button, input { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; line-height: normal; *overflow: visible;  }

.head {
    overflow: visible;
    background: #d6f0f3;
    border-bottom: solid 8px #636566;
}
#links {
    float:right;
    height:35px;
    line-height:35px;
    margin-right:5px;
}
.logo {
    background: no-repeat url(c.png);
    position:absolute;
    height: 70px;
    width: 70px;
    top:-8px; 
    left: 0;
    z-index: 10;
}
h1 { 
    margin:0; 
    padding:0;
    padding-left: 70px;
    font-family: 'Rochester', cursive;
    float:left;
}

#sub {
    background: #292c2d;
    position:relative;
    margin-bottom: 10px;
    height:40px;
    overflow:hidden;
}
#pa { 
    position:absolute; 
    left:0; 
    top: 0; 
    padding-top:15px; 
    z-index: 0; 
    height:26px; 
    overflow: hidden;  
}
#pa li {  
    display:inline-block; 
    width: 33px; 
    height: 40px; 
    margin: 3px;
    cursor: pointer; 
    border-radius: 3px; 
    position:relative;
    top:0;
    -webkit-transition: top .1s linear; 
}
#pa li:hover, #pa li.active { 
    top: -10px; 
    margin:1px; 
    padding: 2px; 
    -webkit-box-shadow: 0 0 6px orange;
}
#stash { 
	margin: 0 auto;
	width: 95%;
}
.in {
    padding: 0 15px;
    position:relative;
}
#files {
    position:absolute;top:0;left:0;bottom:0;right:0;
    display:none;
    background-color:white;
    border:solid 10px;
}

#files span { position:absolute; top:10px; right: 10px; background:#333; border-radius: 30px; width:30px; height:30px; }
#share { float: right; padding-left: 50px; margin: 10px 0; margin-right: 15px; position: relative; z-index:1; }
#share input { width: 210px; padding: 3px; font-size: 11px; color: #888; border: solid 2px; }
#share div:before {
    content: "share ↪";
    -webkit-transform:rotate(10deg);
    font-family: Georgia;
    display:block;
    position: absolute;
    left:0;
    top:-2px;
    color: #333;
}
input { background: rgba(255, 255, 255, .9); }
#current {
    font-size:24px;
    border: solid 2px rgba(0, 0, 0, .2);
    text-align: center;
    width: 90%; margin:0 auto;
    display:block;
}
#prev {
    padding:10px 5px;
    border: solid 2px #333;
}

/* ns: no local storage available */
.ns #pa, .ns #prev a { display:none; }

/* only show proper links in preview box */
#rm, #rl, .has #add { display:none; }
.has #rm, .fromScheme #rl { display:inline; }
#buttons { padding: 5px 10px; text-align: right; background:#333; border-radius: 5px 5px 0 0; }
#conv { color: #ddf; }
#prev.contrast #conv { color: #003; }

/* Conversions */

#conv {
    padding: 20px 50px;
    text-align: center;
}
#conv input {
    font-size: 18px; 
    padding: 5px;
    width: 90%;
}
#conv div { margin:5px 0; position:relative; }

#conv div:before, #scheme ul:before {
    -webkit-transform:rotate(20deg);
    display:block;
    position: absolute;
    font-family: Georgia;
    font-weight: bold;
    left:-25px;
    top:-4px;
}
#hex:before { content: "hex →"; }
#hsv:before { content: "hsv →"; }
#rgb:before { content: "rgb →"; }
#hsl:before { content: "hsl →"; }
#mono:before { content: "monochromatic →"; }
#an:before { content: "analogous →"; }
#sc:before { content: "split complements →"; }
#tetrad:before { content: "tetrad →"; }

/* Make the colorpicker scale to fit */
body .sp-container { width: 100%; }
#prev, #scheme li { 
    -webkit-transition: background-color .1s linear; -moz-transition: background-color .1s linear; 
}

#scheme .in div {position: relative;}
#scheme ul:before { text-align: right; width: 140px; left: 0; top: -10px;}
#scheme.vhide ul { display:none; }
#scheme ul { list-style-type: none; margin: 9px 0 9px 140px; padding:0; float:left; width:25%; }
#scheme li { 
    height: 40px; 
    width: 14%;
    margin: 4px;
}
#scheme li:first-child { width: 5%;}
#scheme li:hover, #scheme li.active { 
    outline: solid orange 2px; 
}


#pick, #scheme, #color {
	float:left;
	width: 33.33%;
    margin: 10px 0;
}

/* Picker and generated values next to each other, schemes at bottom */
@media (max-width: 1200px) {
    #scheme {
        float:none;
        clear: both;
        width:auto;
        padding-top: 30px;
    }
    #scheme ul {
        float:none;
        width: auto;
    }
    #scheme li {  float:left;  }
    #pick { width: 33%; }
    #color { width: 67%; }
}

/* Really small - put everything in line */
@media (max-width: 745px), (max-device-width: 480px) {
    
    #pick, #scheme, #color {
        float:none;
        width:100%;
    }
    #scheme .in div {
        float:none; 
        display:inline-block; 
        width: 22%;
        margin: 10px 0; 
    }
    #share { float:right; }
    #share div:after { display:none;}
    #scheme li { float:none; width: 90%; }
    #scheme ul:before {
        -webkit-transform:rotate(90deg);
        top:0;left:0;
    }
    #scheme { margin-top: 40px; text-align: center; }
    #scheme ul { margin-left:0; margin-top:80px;}
    #pick {
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (min-width: 1300px) { }

.vhide { visibility: hidden; }
.hide { display: none; }
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }


/***
Spectrum: The No Hassle Colorpicker
https://github.com/bgrins/spectrum

Author: Brian Grinstead
License: MIT
***/

.sp-container { 
    position:absolute; 
    top:0; 
    left:0; 
    display:inline-block;
}
.sp-color { 
    position:relative;
}
.sp-sat, .sp-val { 
    position: absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
}
.sp-replacer, .sp-preview, .sp-drag-helper, .sp-slider , .sp-container.sp-dragging .sp-input, .sp-container button  { 
    -webkit-user-select:none; -moz-user-select: none; -o-user-select:none; user-select: none; 
}

/* Replacer (the little preview div that shows up instead of the <input>) */
.sp-replacer {
    display:inline-block;
    margin:0;
    border-radius: 5px;
    overflow:hidden;
    cursor:pointer;
    padding: 4px;
}
.sp-dd { 
    padding: 2px 0;
    height: 16px; 
    line-height: 16px;
    float:left;
    font-size:10px;
}
.sp-preview {
    width:25px;
    height: 20px;
    border: solid 1px #ddd;
    margin-right: 5px;
    float:left;
}

.sp-show-small, .sp-small .sp-hide-small { display:none; }
.sp-small .sp-show-small { display:inherit; }

.sp-container.sp-input-disabled .sp-input-container,
.sp-container.sp-flat .sp-input-container div {
    display:none;
}
.sp-input-container {
    margin-top: 4px;
}
.sp-input-container div { float:right; }
.sp-input:focus { border: 1px solid orange; }
.sp-container.sp-flat .sp-input { width: 100%; padding:0; text-align: center; }

.sp-pallet { 
	margin:3px 0; 
	padding: 0;
}
.sp-pallet span {
	display: block;
	float:left;
	width: 30px;
	height: 15px; 
	margin: 3px;
	cursor: pointer;
	border:solid 2px transparent;
}
.sp-pallet span:hover, .sp-pallet span.sp-pallet-active {
    border-color: orange;
}  
.sp-pallet-disabled .sp-pallet { 
	display: none; 
}

.sp-sat {
    background-image: -webkit-gradient(linear,  0 0, 100% 0, from(#FFF), to(rgba(204, 154, 129, 0)));
    background-image: -webkit-linear-gradient(left, #FFF, rgba(204, 154, 129, 0));
    background-image: -moz-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    background-image: -o-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr=#FFFFFFFF, endColorstr=#00CC9A81)";
    filter : progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr='#FFFFFFFF', endColorstr='#00CC9A81');
    
}
.sp-val {
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000000), to(rgba(204, 154, 129, 0)));
    background-image: -webkit-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
    background-image: -moz-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
    background-image: -o-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00CC9A81, endColorstr=#FF000000)";
    filter : progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC9A81', endColorstr='#FF000000');
}
.sp-drag-helper { 
    position:absolute; 
    top:0; 
    left: 0;
}

.sp-container.sp-flat {
    position: relative;
    display:inline-block;
}

.sp-hue {
    position:relative;
    float:left;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), color-stop(.12, #FFFF00), color-stop(.25, #0BED00), color-stop(.37, #00FF40), color-stop(.50, #00FFFF), color-stop(.62, #0040ff), color-stop(.75, #8000ff), color-stop(.87, #ff00ff), to(#ff0000));
    background: -webkit-linear-gradient(top, #FF0000 0%, #FFFF00 12%, #0BED00 25%, #00FF40 37%, #00FFFF 50%, #0040ff 62%, #8000ff 75%, #ff00ff 87%, #ff0000 100%);
    background: -moz-linear-gradient(top, #FF0000 0%, #FFFF00 12%, #0BED00 25%, #00FF40 37%, #00FFFF 50%, #0040ff 62%, #8000ff 75%, #ff00ff 87%, #ff0000 100%); 
    background: -o-linear-gradient(top, #FF0000 0%, #FFFF00 12%, #0BED00 25%, #00FF40 37%, #00FFFF 50%, #0040ff 62%, #8000ff 75%, #ff00ff 87%, #ff0000 100%); 
}
.sp-1 { 
    height:12%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#FFFF00');
}
.sp-2 { 
    height:13%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF00', endColorstr='#0BED00');
}
.sp-3 { 
    height:12%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0BED00', endColorstr='#00FF40');
}
.sp-4 { 
    height:13%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FF40', endColorstr='#00FFFF');
}
.sp-5 { 
    height:12%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFF', endColorstr='#0040ff');
}
.sp-6 { 
    height:13%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0040ff', endColorstr='#8000ff');
}
.sp-7 { 
    height:12%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8000ff', endColorstr='#ff00ff');
}
.sp-8 { 
    height:13%; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff', endColorstr='#ff0000');
}
.sp-slider { 
    position: absolute; 
    top:0; 
    cursor:pointer;
}

.sp-cf:before, .sp-cf:after { content: ""; display: table; }
.sp-cf:after { clear: both; }
.sp-cf { *zoom: 1; }

/* 
   Proportions using percentage widths.
   Basic aspect ratio technique modified from:
   http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio
*/
.sp-top {
  position:relative; 
  width: 100%;
  display:inline-block;
}

.sp-top-inner {
   position:absolute; top:0; left:0; bottom:0; right:0;
}

.sp-color { 
    position: absolute;
    top:0;left:0;bottom:0;right:20%;
}
.sp-hue {
    position: absolute;
    top:0;right:0;bottom:0;left:83%;
}
.sp-fill { 
    *height: 80%;
    margin-top: 80%;  /* Same as sp-color width */
}

/* Mobile devices, make hue slider bigger so it is easier to slide */
@media (max-device-width: 480px) {
    .sp-color { right: 40%; }
    .sp-hue { left: 63%; }
    .sp-fill { margin-top: 60%; } 
}

.sp-drag-helper {
   border-radius: 5px; 
   height:5px; 
   width: 5px; 
   border: solid black 3px; pointer: cursor;
}
.sp-slider { 
    height: 5px; 
    width: 110%;
    margin-left: -5%;
    background: white; 
    opacity: .8; 
}

.sp-container {
    padding: 10px;
    border-radius: 10px;
    width: 240px;
}
.sp-container.sp-dark {
    background-color: #333; 
    border-radius: 5px; 
}
